.title__app-name {
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.0145455em;
    color: #000000;
    width: 100%;
    padding-top: 20px
  }
  
  .title__app-name div img {
    width: 24px;
    height: 24px;
    padding-right: 10px;
  }
  
  .title__app-name div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title__first-screen {
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.0145455em;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
  }
  
  #main,
  .container__first-screen {
    height: 100%;
  }
  
  .container__first-screen {
    background-color: #f3fffd;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .image__first-screen img {
    position: absolute;
    height: auto;
    object-fit: cover;
    width: 54vh;
    width: calc(var(--vh, 1vh) * 54);
  }
  
  .image__first-screen {
    position: absolute;
    height: 50%;
    top: 28%;
    right: 54vh;
    right: calc(var(--vh, 1vh) * 54);
  }
  
  .button__first-screen {
    width: calc(100% - 36px);
    height: 64px;
    background: #33ce96;
    border-radius: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.0145455em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .content__first-screen {
    z-index: 1;
    background: rgba(200, 243, 222, 0.5);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 32px;
    width: 16.8rem;
    height: 16.8rem;
    margin-right: calc(var(--vw, 1vw) * 47 - 35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .content-title__first-screen {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0145455em;
    color: #000000;
    padding-top: 4px;
    padding-bottom: 22px;
  }
  
  .content-list__item {
    display: flex;
    width: 100%;
  }
  .content-list__first-screen {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .content-list__item-icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }
  .content-list__item-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.0145455em;
    color: #000000;
  }
  
  .emoji__first-screen {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -40px;
    left: -4px;
    z-index: 2;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }