.container__second-screen {
  height: 100%;
  background: linear-gradient(180deg, #fefffb 0%, #fbffee 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.content__second-screen {
  height: auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: clamp(20px, calc(20% - 35px), 55px);
}

.plant__second-screen {
  width: 25vh;
}
.list__second-screen {
  width: calc(50% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.item-description__second-screen {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #000000;
}

.item-image__second-screen {
  width: 2.8rem;
  height: 2.8rem;
}
.title__second-screen {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.0145455em;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  width: calc(100% - 36px);
}

.button__second-screen {
  width: calc(100% - 36px);
  height: 64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.0145455em;

  color: #ffffff;

  background: #18ba45;
  border-radius: 32px;
  margin-top: clamp(15px, calc(20% - 40px), 40px);
}
