.container__third-screen {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, #ededed 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.before-after-container__third-screen {
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: absolute;
  top: 2%;
}

.before__third-screen,
.after__third-screen {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0145455em;
  color: #abc6bc;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}

.title-container__third-screen{
    margin-top: 30px;
}
.image-container__third-screen {
  height: 50%;
}
.plant__third-screen {
  /* width: 100vw; */
  height: min(100%, 100vw);
}

.title__third-screen {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0145455em;
  text-transform: uppercase;
  color: #000000;
  width: calc(100% - 30px);
  margin-top: 10px;
}

.button__third-screen {
  filter: drop-shadow(0px 8px 24px rgba(249, 67, 71, 0.24));

  background: #f94347;
  border-radius: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.0145455em;

  color: #ffffff;
  height: 64px;
  width: calc(100% - 36px);
  position: absolute;
  bottom: 30px;
}
